<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.comment %>
      <%= button_to "Remove", bookmark_path(bookmark), method: :delete %>

    </li>
  <% end %>
</ul>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
